@media only screen and (min-width: 480px) {

.navbar {
    padding: 10px;

    .menu-link {
        margin-right: 20px;
    }
}

.img-box {
    flex-wrap: wrap;

    .img-group {
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .img-group img {
        height: 250px;
    }
}


}